body{
margin:0;
font-family: 'Segoe UI', sans-serif;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.container{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
padding:40px;
border-radius:15px;
width:420px;
text-align:center;
color:white;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h1{
margin-bottom:20px;
font-weight:600;
}

p{
font-size:20px;
line-height:1.5;
margin-bottom:30px;
}

button{
padding:12px 25px;
border:none;
border-radius:10px;
background:#ff7b54;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ff5722;
transform:scale(1.05);
}